<h3>Mijn geslacht</h3>
<div class="container" id="genderList">
  <div class="fieldCluster">
    <label for="man">Man</label>
    <input type="radio" name="myGender" value="man" id="man" />
  </div>

  <div class="fieldCluster">
    <label for="woman">Vrouw</label>
    <input type="radio" name="myGender" value="woman" id="woman" />
  </div>

  <div class="fieldCluster">
    <label for="nonbin">Non-binary</label>
    <input type="radio" name="myGender" value="nonbin" id="nonbin" />
  </div>
</div>
