<!DOCTYPE html>
<html lang="du">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/form.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- page title -->
    <title>Profile</title>
  </head>
  <body>
    <main>
      <form action="index.html" method="POST">
        <h3>Over mij</h3>
        <div class="container">
          <div class="fieldCluster">
            <label for="name">Naam</label>
            <input type="text" id="name" name="name" />
          </div>

          <div class="fieldCluster">
            <label for="age">Leeftijd</label>
            <input type="number" id="age" class="age" />
          </div>
        </div>

        <label for="description">Beschrijving</label>
        <textarea
          name="description"
          id="description"
          placeholder="Vertel wat over jezelf!"
        >
Vertel wat over jezelf</textarea
        >

        <h3>Mijn geslacht</h3>
        <div class="container" id="genderList">
          <div class="fieldCluster">
            <label for="man">Man</label>
            <input type="radio" name="myGender" value="man" id="man" />
          </div>

          <div class="fieldCluster">
            <label for="woman">Vrouw</label>
            <input type="radio" name="myGender" value="woman" id="woman" />
          </div>

          <div class="fieldCluster">
            <label for="nonbin">Non-binary</label>
            <input type="radio" name="myGender" value="nonbin" id="nonbin" />
          </div>
        </div>

        <h3>Ik ben op zoek naar</h3>
        <div class="container" id="lookingForGender">
          <div class="fieldCluster">
            <label for="lookingMan">Man</label>
            <input
              type="checkbox"
              name="lookingGender"
              value="lookingMan"
              id="lookingMan"
            />
          </div>

          <div class="fieldCluster">
            <label for="lookingwoman">Vrouw</label>
            <input
              type="checkbox"
              name="lookingGender"
              value="lookingWoman"
              id="lookingWoman"
            />
          </div>

          <div class="fieldCluster">
            <label for="lookingNonbin">Non-binary</label>
            <input
              type="checkbox"
              name="lookingGender"
              value="lookingNonbin"
              id="lookingNonbin"
            />
          </div>
        </div>

        <div class="container" id="age">
          <div class="fieldCluster">
            <label for="">Leeftijd tussen de</label>
            <input type="number" class="age" min="18" max="99" />
          </div>

          <div class="fieldCluster">
            <label for="">en de</label>
            <input type="number" class="age" min="18" max="99" />
          </div>
        </div>

        <h3>Match music</h3>
        <section id="matchMusic">
          <div class="fieldCluster">
            <input
              id="songSearchfield"
              type="text"
              placeholder="Zoek op Artiest + Titel"
            />
            <button type="button" id="addSong">+ add song</button>
          </div>
          <div id="songList">
            <input
              type="text"
              name="songs"
              value="Wendy shay wedding song"
              readonly
            />
          </div>
        </section>

        <button type="submit">Opslaan</button>
      </form>
    </main>
  </body>
  <script src="./scripts/addSongF.js"></script>
</html>
