<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <h1>HI THERE {{firstname}}</h1>
    <p>If this works, you heave succesfully landed on my website</p>
    <h2>can i change this live?</h2>
    <p>lets see if we can add a stylesheet</p>
    <div></div>
    <script src="../public/scripts/findSong.js"></script>
    
</body>
</html>