<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/stylesheets/login.css" />
    <title>Login</title>
  </head>
  <body>
    <form action="/login" method="POST">
      <label for="inlognaam"
        >Als je al een profiel hebt, log hier hieroner in met je volledige
        profiel naam</label
      >
      <input
        type="text"
        name="inlognaam"
        id="inlognaam"
        placeholder="voel je naam in "
      />
      <button type="submit">Inloggen</button>
    </form>
    <p>of creer een nieuuw profiel</p>
    <a href="newprofile">Nieuw profiel</a>
  </body>
</html>
