<!DOCTYPE html>
<html lang="du">
  <head>
    <%- include('partials/head') %>

    <!-- page title and stylesheet-->
    <link rel="stylesheet" href="../stylesheets/form.css" />
    <title>Nieuw profiel</title>
  </head>
  <body>
    <main>
      <form action="/newProfile" method="POST">
        <h3>Over mij</h3>
        <div class="container">
          <div class="fieldCluster">
            <label for="name">Naam</label>
            <input type="text" id="name" name="name" />
          </div>

          <div class="fieldCluster">
            <label for="age">Leeftijd</label>
            <input type="number" id="age" class="age" name="age" />
          </div>
        </div>

        <label for="description">Beschrijving</label>
        <textarea
          name="description"
          id="description"
          placeholder="Vertel wat over jezelf!"
        >
Vertel wat over jezelf</textarea
        >
        <%- include('partials/formgender') %>

        <h3>Ik ben op zoek naar</h3>
        <div class="container" id="lookingForGender">
          <div class="fieldCluster">
            <label for="lookingMan">Man</label>
            <input
              type="checkbox"
              name="lookingGender"
              value="Man"
              id="lookingMan"
            />
          </div>

          <div class="fieldCluster">
            <label for="lookingwoman">Vrouw</label>
            <input
              type="checkbox"
              name="lookingGender"
              value="Vrouw"
              id="lookingWoman"
            />
          </div>

          <div class="fieldCluster">
            <label for="lookingNonbin">Non-binary</label>
            <input
              type="checkbox"
              name="lookingGender"
              value="Non-Bin"
              id="lookingNonbin"
            />
          </div>
        </div>

        <div class="container" id="age">
          <div class="fieldCluster">
            <label for="">Leeftijd tussen de</label>
            <input
              type="number"
              class="age"
              name="lookingforage"
              value="min age"
              min="18"
              max="99"
            />
          </div>

          <div class="fieldCluster">
            <label for="">en de</label>
            <input
              type="number"
              class="age"
              name="lookingforage"
              value="max age"
              min="18"
              max="99"
            />
          </div>
        </div>

        <h3>Match music</h3>
        <section id="matchMusic">
          <div class="fieldCluster">
            <input
              id="songSearchfield"
              type="text"
              placeholder="Zoek op Artiest + Titel"
            />
            <button type="button" id="addSong">+ add song</button>
          </div>
          <div id="songList">
            <input
              type="text"
              name="songs"
              value="Wendy shay wedding song"
              readonly
            />
          </div>
        </section>

        <button type="submit">Opslaan</button>
      </form>
    </main>
  </body>
  <script src="./scripts/addSongF.js"></script>
</html>
