* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Avenir", sans-serif;
  color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
main {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#profileHeader {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article > div > img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  text-align: center;
}
article > div:first-of-type {
  display: flex;
}
h1,
h2,
h3,
h4,
h6 {
  color: #ff5e00;
  font-family: "Alegreya Sans", "Avenir", sans-serif;
}
h3 {
  margin-top: 1em;
}
h4 {
  font-size: 0.8em;
}
article > section:first-of-type {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}
article > section:first-of-type div div {
  display: flex;
  justify-content: space-evenly;
}
article > section:first-of-type div div h4 {
  padding: 0.6em;
}

.squareButton {
  background-color: #ff5e00;
  color: #ffffff;
  padding: 0.7em;
  text-align: center;
  border-radius: 7px;
}
main > section {
  margin-top: 1em;
  background-color: #ff5e00;
  color: #ffffff;
  height: 200px;
  width: 100%;
  border-radius: 10px;
  padding: 0.1em 0.8em;
}
main > section h3 {
  color: #ffffff;
}
main > a {
  display: block;
  text-align: center;
  width: 200px;
  margin-top: 1em;
  background-color: #ff5e00;
  color: #ffffff;
  padding: 1em;
  border-radius: 50px;
  text-decoration: none;
  font-family: "Alegreya Sans", "avenir", sans-serif;
}

button {
  display: block;
  text-align: center;
  width: 130px;
  margin-top: 1em;
  background-color: #ff5e00;
  color: #ffffff;
  padding: 1em;
  border-radius: 50px;
  text-decoration: none;
  font-family: "Alegreya Sans", "avenir", sans-serif;
}

#songList {
  margin: 0.5em 1em 0 1em;
  height: 130px;
  overflow-y: scroll;
}
#songList li {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0.3em;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 0.8em;
}
#songList li div:first-of-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#songList li > div:first-of-type img {
  width: 40px;
  border-radius: 5px;
}
#songList li > div:first-of-type > div {
  display: block;
  margin-left: 0.5em;
}
#songList li > div:first-of-type > div h4 {
  color: #313131;
}
#songList li > div:last-of-type {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #313131;
}
#songList li > div:last-of-type h4 {
  font-size: 2em;
  color: #2adbdb;
  font-weight: 300;
}
#songList li > div:last-of-type svg {
  position: absolute;
  left: 0;
  top: 0;
}
